<form class="container" action="">

    <div class="select">
        <select name="filter-type" title="Filtrar por tipos">
            <option hidden value="">Tipos</option>
            <option value="agua">Agua</option>
            <option value="fuego">Fuego</option>
            <option value="fuego">Planta</option>
        </select>
    </div>

    <div class="select">
        <select name="filter-generation" title="Filtrar por tipos">
            <option hidden value="">Generación</option>
            <option value="I">1ra Gen.</option>
            <option value="II">2da Gen.</option>
            <option value="III">3ra Gen.</option>
        </select>
    </div>

</form>