<div class="main" role="main">

  <nav class="nav-bar">
    <div class="logo pokedex-logo"> 
    </div>
    <div class="logo api-logo">
    </div>
  </nav>

  <section class="main-wallpaper">
    
    <div class="snorlax-container">
      <div class="shadow"></div>
      <div class="snorlax"></div>
      
    </div>

    <div class="poster">
        <h1>Bienvenido</h1>
        <p>
          Éste proyecto busca englobar todo lo aprendido en cuanto a HTML, CSS y Javascript y el framework Angular (Componentes, Hooks, Directivas, Routing, etc).
        </p>
    </div>
    
  </section>
  
  <app-main-gallery></app-main-gallery>
  

<router-outlet></router-outlet>
