<div class="trees"></div>

<section class="main-gallery">

    <div class="gallery">
        
        <div class="gallery-form">

            <app-pokedex-search></app-pokedex-search>

            <app-pokedex-filter></app-pokedex-filter>

        </div>

        <div class="gallery-cards">
            <div class="intervalButtons">
                <button (click)="minusInterval()"><<</button>
                <button (click)="plusInterval()">>></button>
            </div>
            
            <app-pokemon-card *ngFor="let pokemon of pokemonList; let i = index"
                [loading]='loading' 
                [error]='error' 
                [pokemon]='pokemon'>
            </app-pokemon-card>

        </div>

        <div class="intervalButtons">
            <button class="scroll" (click)="minusInterval()"><<</button>
            <button class="scroll" (click)="plusInterval()">>></button>
        </div>

    </div>

</section>