
<form class="search-form" action="">

    <div class="search-button">
        <div class="border-search-button">
            <input placeholder="Buscar Pokémon" name="pokemonName" type="text">
            <input type="submit" name="submit" value="Enviar">
        </div>
    </div>
    
    <div class="search-type">
        <select class="border-search-type" name="search-type" title="Tipo de busqueda">
            <option class="search-type-opt" value="A">A</option>
            <option class="search-type-opt" value="#">#</option>
        </select>
    </div>
    
    
</form>

<div class="filter-catalogue">
    Filtros: 
</div>